.menuButton{
    -fx-border-width: 0px 0px 0px 5px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: #4E4F52;
    -fx-background-color: #e5e5e5;
}

.menuButton:hover{
    -fx-background-color: #f3f3f3;
    /*-fx-text-fill: white;*/
}

#dashHead{
    -fx-background-color: #e5e5e5;
}
#acDashBord{
    -fx-background-color:#e5e5e5;
}

.button-round-red {
    -fx-background-color: #be1d00;
    -fx-text-fill: white;
}
.button-round-red:hover {
    -fx-background-color: #8c1b01;
}