root {
    display: block;
}
.root {
    -fx-background-image: url("../img/loginBg.jpg");
    -fx-background-size: cover;
    -fx-background-position: bottom;
    -fx-background-repeat: no-repeat;
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

#welcome-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #000;
}
#actionTarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
}

/*.button {*/
/*    -fx-text-fill: #000;*/
/*    -fx-font-family: "Arial Narrow";*/
/*    -fx-font-weight: bold;*/
/*}*/